<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication1.Properties.Settings.PreHireConnectionString"
            connectionString="Data Source=sql-prod.corp.telenetwork.com;Initial Catalog=PreHire;User ID=sa;Password=qwerty"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>